// ==========================================================================
// Form Elements
// ==========================================================================

.form-section {
	padding-top: .3em;
	h4 {
		margin-top: 0;
	}
}

.form {

	@include e(label) {
		@include m(hidden) {
			@extend .srt;
		}
		display: block;
		margin-bottom: em(10px);
	}

	@include e(input) {
		font-size : em(16px);
		margin-bottom: em(10px, 16px);
		border-bottom: 6px solid palette(grey, x-light);
		border-radius: $br--default;
		background: palette(grey, xx-light);
		color: palette(black, dark);
		font-weight: $font-weight--light;

		&:focus {	
			border-color: $bright-blue;
		} 
	}
}








